<html>
    <head>
        <title> News </title>
    </head>
    <body>
        <h3>Choose site to get news</h3>
        <br><a href="all">All news</a>
        <br><a>==========================================</a>
        <br><a href="ria">Ria news</a>
        <br><a>==========================================</a>
        <br><a href="bbc">BBC news</a>
        <br><a>==========================================</a>
        <br><a href="interfax">Interfax news</a>
        <br><a>==========================================</a>
    </body>
</html>